@tailwind base
@tailwind components
@tailwind utilities

html
    font-size: 10px;

@responsive
    .link-underline
        text-decoration: underline solid #4d80f4;

    .link-underline-light
        text-decoration: underline solid #b7ccfa;